---
import SiteHeader from '@/components/SiteHeader.astro';
import Layout from '@/layouts/Layout.astro';

if (Astro.locals.user) {
  return Astro.redirect('/');
}
---

<Layout title="Login">
  <SiteHeader />
  <main class="flex flex-col justify-center">
    <h1>Inicia sesion</h1>
    <a href="/login/discord">Discord</a>
  </main>
</Layout>
