---
import { prog_langs } from '@/configs/prog_langs';
import Layout from '@/layouts/Layout.astro';
import { getServerStats } from '@/server/dsserver';

const res = await getServerStats(import.meta.env.DISCORD_SERVER_ID);

console.log(res);
---

<Layout title="Devs Overflow">
  <ul class="flex flex-wrap justify-center">
    {
      prog_langs.map((lang) => (
        <li class="m-4 rounded-lg border-2 bg-neutral-500/25 p-4 shadow-md" style={`border-color: ${lang.color}`}>
          <img src={lang.icon} alt={lang.name} class="mx-auto h-16 w-16" />
        </li>
      ))
    }
  </ul>
</Layout>
