---
import SiteHeader from '@comps/SiteHeader.astro';
import { progLangs } from '@configs/prog_langs';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Devs Overflow">
  <SiteHeader />

  <ul class="flex flex-wrap justify-center">
    {
      progLangs.map((lang) => (
        <li class="m-4 rounded-lg border-2 bg-neutral-500/25 p-4 shadow-md" style={`border-color: ${lang.color}`}>
          <img src={lang.icon} alt={lang.name} class="mx-auto h-16 w-16" />
        </li>
      ))
    }
  </ul>
</Layout>
