---
import banner from '@/assets/banner.png';
import PageMain from '@/components/PageMain.astro';
import SiteHeader from '@/components/SiteHeader.astro';
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
---

<Layout title="Devs Overflow">
  <SiteHeader />

  <PageMain class="min-h-[calc(100%-4rem)] pb-16">
    <header class="mt-[15vh] space-y-8">
      <!-- <h1 class="flex justify-center gap-x-4 text-4xl font-bold leading-none">Devs Overflow</h1> -->
      <h1 class="sr-only">Devs Overflow</h1>
      <Image src={banner} alt="Banner" class="mx-auto w-full max-w-screen-md" />
      <p class="mt-8 text-center text-2xl font-bold">Se vienen cositas</p>
    </header>
  </PageMain>
</Layout>
