---
import AppLayout from '@/layouts/AppLayout.astro';
import banner from '@/lib/assets/banner.png';
import DiscordServerStats from '@/lib/comps/DiscordServerStats.astro';
import PageMain from '@/lib/comps/PageMain.astro';
import { Image } from 'astro:assets';
---

<AppLayout
  seo={{
    title: `Devs Overflow`,
    description: `Devs Overflow is a Spanish-speaking developer community that seeks to promote learning and collaboration among its members.`,
    og: {
      url: Astro.url.href,
      title: `Devs Overflow`,
      image: banner.src,
      image_alt: `Devs Overflow banner`
    },
    og_optional: {
      site_name: 'Devs Overflow',
      description: `Devs Overflow is a Spanish-speaking developer community that seeks to promote learning and collaboration among its members.`,
      locale: 'en_US'
    }
  }}
>
  <PageMain class="min-h-[calc(100%-8rem)]">
    <header class="my-auto space-y-8">
      <!-- <h1 class="flex justify-center gap-x-4 text-4xl font-bold leading-none">Devs Overflow</h1> -->
      <h1 class="sr-only">Devs Overflow</h1>
      <Image src={banner} alt="Banner" class="mx-auto w-full max-w-screen-md" />
      <p class="mt-8 text-center text-2xl font-bold">Se vienen cositas</p>
    </header>

    <DiscordServerStats />
  </PageMain>
</AppLayout>
