---
import LogoShowcase from '@/components/PLogo/LogoShowcase.svelte';
import SiteHeader from '@/components/SiteHeader.astro';
import SiteLogo from '@/components/SiteLogo.astro';
import Layout from '@/layouts/Layout.astro';
import { UserProgrammingLanguage, db, eq, isNotNull, ProgrammingLanguage } from 'astro:db';

if (!Astro.locals.user) {
  return Astro.redirect('/login/discord?redirect_to=/me');
}

const logos_all = await db
  .select({
    logo_id: ProgrammingLanguage.id,
    user: isNotNull(UserProgrammingLanguage.userId)
  })
  .from(ProgrammingLanguage)
  .leftJoin(UserProgrammingLanguage, eq(ProgrammingLanguage.id, UserProgrammingLanguage.programmingLanguageId));

// const logos_found: (typeof logos_all)[number]['logo'][] = [];
// const logos_not_found: (typeof logos_all)[number]['logo'][] = [];

// for (const logo of logos_all) {
//   if (logo.user) {
//     logos_found.push(logo.logo);
//   } else {
//     logos_not_found.push(logo.logo);
//   }
// }
const logos_found = new Set<string>();
for (const logo of logos_all) {
  if (logo.user) {
    logos_found.add(logo.logo_id);
  }
}
---

<Layout title="Devs Overflow">
  <SiteHeader />

  <main class="space-y-8">
    <h1 class="flex gap-x-4 text-5xl font-bold leading-none">Devs Overflow <SiteLogo class="size-12" /></h1>
    <p class="">Aca va a haber algo.</p>

    <LogoShowcase found_ids={logos_found} client:load/>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
