---
import { Menu } from 'lucide-astro';
import SiteLogo from './SiteLogo.astro';
const { user } = Astro.locals;
---

<div id="site-scroll-detection" class="absolute left-0 top-0 z-40 size-px bg-teal-500"></div>
<header id="site-header" class="sticky top-0 z-20 flex h-16 w-full !shadow-black/80 transition-shadow duration-300 data-[sticking]:shadow-lg">
  <div class="navbar bg-base-100/[0.965]">
    <div class="flex-none">
      <button class="btn btn-square btn-ghost hidden">
        <Menu class="size-5" />
      </button>
      <a href="/" class="btn btn-ghost text-xl">
        <SiteLogo class="size-7" /> Devs Overflow
      </a>
    </div>
    <div class="flex flex-1 justify-center">
      <nav>
        <ul class="flex gap-4">
          <li>
            <a href="/discord" class="btn btn-ghost">Discord Server</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="flex-none gap-2">
      {
        !user ? (
          <a href="/login/discord" class="btn btn-primary">
            Login
          </a>
        ) : (
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="avatar btn btn-circle btn-ghost">
              <div class="w-10 rounded-full">
                <img alt="Tailwind CSS Navbar component" src={user.avatar} />
              </div>
            </div>
            <ul tabindex="0" class="menu dropdown-content menu-sm z-[1] mt-3 w-52 rounded-box bg-base-100 p-2 shadow">
              <li>
                <a href="/me" class="justify-between">
                  Profile
                </a>
              </li>
              <li>
                <form method="post" action="/logout">
                  <button type="submit">Logout</button>
                </form>
              </li>
            </ul>
          </div>
        )
      }
    </div>
  </div>
</header>

<script>
  const header_el = document.getElementById('site-header');
  const header_el_top = document.getElementById('site-scroll-detection');
  if (!header_el || !header_el_top) {
    throw new Error('Invalid site header or scroll detection id');
  }
  const site_header_observer = new IntersectionObserver(
    (entries) => {
      header_el.toggleAttribute('data-sticking', entries[0]?.intersectionRatio === 0);
    },
    { threshold: [0, 1] }
  );

  site_header_observer.observe(header_el_top);
</script>
