---
type Props = {
  title: string;
  subtitle?: string;
};

const { title, subtitle } = Astro.props;
---

<header class="mt-8 space-y-4">
  <h1 class="flex gap-x-4 text-4xl font-bold leading-none">{title}</h1>
  {subtitle && <p class="text-lg">{subtitle}</p>}
  <slot />
</header>
