---
import LogoGame from '@/components/PLogo/LogoGame.svelte';
import SiteFooter from '@/components/SiteFooter.astro';
import SiteHeader from '@/components/SiteHeader.astro';
import '../global.postcss';
import SEO from '@/components/SEO.astro';
import type { ComponentProps } from 'astro/types';

type Props = {
  seo: ComponentProps<typeof SEO>;
}

const seo = Astro.props.seo ?? {};
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />
    <SEO {...seo} />
    <slot name="head" />
  </head>
  <body data-theme="devsoverflow" class="overflow-hidden">
    <div class="page-scroll relative h-full overflow-y-auto">
      <SiteHeader />
      <slot />
      <SiteFooter />

      <LogoGame client:only="svelte" user={Astro.locals.user} />
    </div>
  </body>
</html>

<style>
  .page-scroll {
    --scrollbar-size: 6px;
    transition: all 0.3s ease;
  }

  @media screen and (min-width: 1024px) {
    .page-scroll {
      --scrollbar-size: 8px;
    }
  }

  .page-scroll::-webkit-scrollbar {
    width: var(--scrollbar-size);
    border-left: 1px solid black;
  }

  .page-scroll::-webkit-scrollbar-thumb {
    background-color: hsl(0, 100%, 50%, 0.4);
    border-left: 1px solid black;
  }

  .page-scroll::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 100%, 50%, 0.8);
  }
</style>
