---
import LogoGame from '@/lib/comps/LogoGame/LogoGame.svelte';
import SEO from '@/lib/comps/SEO.astro';
import SiteFooter from '@/lib/comps/SiteFooter.astro';
import SiteHeader from '@/lib/comps/SiteHeader.astro';
import type { ComponentProps } from 'astro/types';
import '../global.postcss';

type Props = {
  seo: ComponentProps<typeof SEO>;
};

const seo = Astro.props.seo ?? {};
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />
    <SEO {...seo} />
    <slot name="head" />
  </head>
  <body data-theme="devsoverflow" class="overflow-hidden">
    <div class="scrollbar-do relative h-full overflow-y-auto">
      <SiteHeader />
      <slot />
      <SiteFooter />

      <LogoGame client:only="svelte" user={Astro.locals.user} />
    </div>
  </body>
</html>
