---
import LogoGame from '@/components/PLogo/LogoGame.svelte';
import SiteFooter from '@/components/SiteFooter.astro';
import SiteHeader from '@/components/SiteHeader.astro';
import '../global.postcss';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body data-theme="devsoverflow" class="overflow-hidden">
    <div class="page-scroll relative h-full overflow-y-auto">
      <SiteHeader />
      <slot />
      <SiteFooter />

      <LogoGame client:only user={Astro.locals.user} />
    </div>
  </body>
</html>

<style>
  .page-scroll {
    --scrollbar-size: 6px;
    transition: all 0.3s ease;
  }

  @media screen and (min-width: 1024px) {
    .page-scroll {
      --scrollbar-size: 8px;
    }
  }

  .page-scroll::-webkit-scrollbar {
    width: var(--scrollbar-size);
    border-left: 1px solid black;
  }

  .page-scroll::-webkit-scrollbar-thumb {
    background-color: hsl(0, 100%, 50%, 0.4);
    border-left: 1px solid black;
  }

  .page-scroll::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 100%, 50%, 0.8);
  }
</style>
